@model RawStack.Models.Movie
@{
    Layout = null;
}

<div class="container">
    <div class="well">
        <form class="form-horizontal" 
              name="editForm"
              role="form">
            @Html.EditorFor(m => m.Title)
            @Html.EditorFor(m => m.Synopsis)
            @Html.EditorFor(m => m.CriticsConsensus, new { Rows = 10 })
            @Html.EditorFor(m => m.MpaaRating)
            @Html.EditorFor(m => m.Ratings.AudienceScore, new { Model = "model.ratings" })
            @Html.EditorFor(m => m.Ratings.CriticsScore, new { Model = "model.ratings" })
            @Html.EditorFor(m => m.Year)

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button"
                                ng-click="save()"
                                class="btn btn-primary">
                            Save
                        </button>
                        <button type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="saveAndClose()">Save & Close</a></li>
                        </ul>
                    </div>

                    <button class="btn btn-default"
                            ng-disabled="editForm.$dirty"
                            ng-click="closeEdit()">
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>